<!DOCTYPE html>
<!-- GENERAL INFORMATION!: FRONTEND COMPLETE, WORK ON BACKEND SHOULD COMMENCE SOON! -->
<html>
<head>
    <title>Indev</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Calculator</h1>
    <form action="#" method="post">
        <p>Addition:</p>
        <p><input type="number" name="add1" /> + <input type="number" name="add2"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result"></output></p>
    </form>
    <form action="#" method="post">
        <p>Subtraction:</p>
        <p><input type="number" name="sub1" /> - <input type="number" name="sub2"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result"></output></p>
    </form>
    <form action="#" method="post">
        <p>Multiplication:</p>
        <p><input type="number" name="mul1" /> * <input type="number" name="mul2"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result"></output></p>
    </form>
    <form action="#" method="post">
        <p>Division:</p>
        <p><input type="number" name="div1" /> / <input type="number" name="div2"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result"></output></p>
    </form>
    <form action="#" method="post">
        <p>Solution</p>
        <p>a=<input type="number" name="a"/> b=<input type="number" name="b"/> c=<input type="number" name="c"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result1"></output></p>
        <p><output name="result2"></output></p>
    </form>
    <h1>Name Generator</h1>
    <form action ="#" method="post">
        <p>Male Name:</p>
        <output name="namem"></output>
        <p><input type="submit" value="Generate!"/></p>   
    </form>
    <form action="#" method="post">
        <p>Female Name:</p>
        <output name="namef"></output>
        <p><input type="submit" value="Generate!"/></p>       
    </form>
    <h4>Copyright luz5020</h4>
    <h4>All rights reserved <br> GNU General Public License v3.0 <br> https://www.gnu.org/licenses/gpl-3.0.en.html</h4>
</body>
</html>