<!DOCTYPE html>
<html>
<head>
    <title>Luz-page: Multiplication</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <form action="#" method="post">
        <p>Multiplication:</p>
        <p><input type="number" name="mul1" /> * <input type="number" name="mul2"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result"></output></p>
    </form>
    <h4>Copyright luz5020</h4>
    <h4>All rights reserved <br> GNU General Public License v3.0 <br> https://www.gnu.org/licenses/gpl-3.0.en.html</h4>
</body>
</html>  