<!DOCTYPE html>
<html>
<head>
    <title>Luz-page: Solution</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <form action="#" method="post">
        <p>Solution</p>
        <p>a=<input type="number" name="a"/> b=<input type="number" name="b"/> c=<input type="number" name="c"/></p>
        <p><input type="submit" value="Calculate!"/></p>
        <p><output name="result1"></output></p>
        <p><output name="result2"></output></p>
    </form>
    <h4>Copyright luz5020</h4>
    <h4>All rights reserved <br> GNU General Public License v3.0 <br> https://www.gnu.org/licenses/gpl-3.0.en.html</h4>
</body>
</html>  